<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- Vue works here -->
      <h1>{{ message }}</h1>
      <h1>{{ name }}</h1>
      <button v-on:click="changeMessage()">Click me</button>
      <input type="text" v-model="name" />
      <div>
        <button v-on:click="showInfo = !showInfo">Toggle Info</button>
        <p v-if="showInfo">Extra Information</p>
      </div>
    </div>
  </body>
</html>
